@CHARSET "ISO-8859-1";

body {
	background-color: LightBlue;
}

.ui-panelgrid tr, .ui-panelgrid td {
	background: none;
	border-style: none !important;
}

inputtext{
	witdh: 100%
}

.AButtons{
	width: 250px
}
.MiniButtons{
	witdh:10px
}

.borderm{
	border-style: solid;
	background-color: white;	
}