@CHARSET "ISO-8859-1";

.ui-button {
	width: 250px;
}

body {
	background-color: LightBlue;
}

.ui-panelgrid tr, .ui-panelgrid td {
	background: none;
	border-style: none !important;
}

commandButton{
	witdh: 200px;
}

